### 获取多个文件路径

1.os.walk(dir)  # 获取文件夹下信息，root,dirs,files
    # 1. files 获取文件夹下的文件名
    # 2. dirs 获取文件夹下文件夹
    # 3. root 返回所有文件夹路径
2.os.path.join(root,file) 连接成路径

3.pandas 读取文件
    # 1.txt -- pd.read_table()  
    # 2.csv -- pd.read_csv()
    # 3.xls -- pd.read_excel()
    # 4.json -- pd.read_json()

In [98]:
import os
import pandas as pd

dir = r"D:\JupyterWork\base\read_file"#设置工作路径，文件夹位置

#新建列表，存放文件名（可以忽略，但是为了做的过程能心里有数，先放上）
filename_excel = []

for root, dirs, files in os.walk(dir):    # 获取文件夹下的信息
    for file in files:
        filename_excel.append(os.path.join(root,file)) # 保存所有文件夹下文件的路径
filename_excel

['D:\\JupyterWork\\base\\read_file\\1.csv',
 'D:\\JupyterWork\\base\\read_file\\1.xls',
 'D:\\JupyterWork\\base\\read_file\\A.json',
 'D:\\JupyterWork\\base\\read_file\\a.txt',
 'D:\\JupyterWork\\base\\read_file\\B.json',
 'D:\\JupyterWork\\base\\read_file\\b.txt',
 'D:\\JupyterWork\\base\\read_file\\C.json',
 'D:\\JupyterWork\\base\\read_file\\c.txt']

### 一、读取txt文件

#### 1.读

In [30]:
# 原始方式
with open(r'D:\\JupyterWork\\base\\read_file\\a.txt') as a:
    # a0、a1、a2取一个
    a0 = a.read()   # '1\na'  全部连城成一个string
    # a1 = a.readlines()  #['1\n', 'a'] , 一行一次，存入list
    # a2 = a.readline()   # '1\n' 读第一行 = a[0]

'1\na'

In [127]:
# pandas读
a = pd.read_table(r'D:\\JupyterWork\\base\\read_file\\a.txt')
a

      1
0   a三A
1  三A三A
2  三A三A
3  三A三A
4    三A

#### 2.写

In [49]:
# 'r':只读，'w'只写覆盖，'a'追加， 'r+':读写，指针在开头，'w+'读写+覆盖，'a+'读写，指针在结尾
with open(r'D:\\JupyterWork\\base\\read_file\\a.txt','a',encoding='utf-8') as a:
    a.write('三A')  # 直接写在行后
    a.write('\n三A') # 换行再写
    a.close()

pandas 没有写入txt文件的

### 二、读取json文件

 loads 方法将 JSON 文本字符串转为 JSON 对象

可以通过 dumps() 方法将 JSON 对象转为文本字符串。

#### 1.读

In [70]:
import json
with open(r'D:\\JupyterWork\\base\\read_file\\A.json','r',encoding='utf-8') as A:
    # 由于写入的是字符串，读取要先转成json对象
    string = A.read() 
    A = json.loads(string)
A,type(A)

([{'name': ' 王A ', 'gender': ' 男 ', 'birthday': '1992-10-18'}], list)

In [71]:
# 同上
import json
with open(r'D:\\JupyterWork\\base\\read_file\\A.json','r',encoding='utf-8') as A:
    # 由于写入的是字符串，读取要先转成json对象 
    A = json.load(A)
A,type(A)

([{'name': ' 王A ', 'gender': ' 男 ', 'birthday': '1992-10-18'}], list)

##### pandas 读 json

orient:

1.'split' : dict like {index : [index], columns : [columns], data : [values]}

2.'records' : list like [{column : value}, ... , {column : value}]

3.'index' : dict like {index:{column : value}}

4.'columns' : dict like {column :{index :value}}

5.'values' : just the values array

In [92]:
data = pd.read_json(r'D:\\JupyterWork\\base\\read_file\\A.json',orient='records',encoding='utf-8')
data

     birthday gender  name
0  1992-10-18     男    王A
1  1992-10-18     男    王B

#### 2.写
encoding='utf-8'   +  ensure_ascii=False  = 输出中文 

indent   缩进字符

json 不要直接追加含[]，要重写

In [91]:
import json
data = [{
    'name': ' 王A ',
    'gender': ' 男 ',
    'birthday': '1992-10-18'
},{
    'name': ' 王B ',
    'gender': ' 男 ',
    'birthday': '1992-10-18'
}]   # json对象
with open(r'D:\\JupyterWork\\base\\read_file\\A.json','w',encoding='utf-8') as A:
    # 转成字符串再写入
    A.write(json.dumps(data,indent=2,ensure_ascii=False))

##### pandas 写入 json   、、 DataFrame->json

In [123]:
# 根据需求调整参数orient。中文数据时，需要把force_ascii设置为false{
df = {
    'name': ' 王C ',
    'gender': ' 男 ',
    'birthday': '1992-10-18'
}
df = pd.DataFrame(df,index =range(1))
# df.to_json('read_file\\A.json',orient='records')  # 无法显示中文,to_json()是DataFrame类的方法，read_json()是pandas的方法


# 可显示中文，DataFrame格式转为json
str1 = df.to_json(orient='records')
# 这里得到的是json字符串，里面有很多转义字符。如果想要规范的json类型，需要继续操作
str2 = json.loads(str1)
# 如果需要输出到json文件, indent是缩进的位数，sort_keys能根据df键排序后输出。
with open('read_file\\A.json', "a", encoding='utf-8') as f:
	f.write(json.dumps(str2, indent=4,  ensure_ascii=False, sort_keys=True))

### 三、读取csv文件

#### 1.读

In [137]:
import csv
with open(r'read_file\\1.csv') as file:
#     f = file.read()  # 全部看出字符串形式，不推荐
# 获取每一行的迭代对象
    f = csv.reader(file)
    for i in f:
        print(i)

['1', '2', '3']
['4', '5', '6']

In [141]:
# pandas 读
f = pd.read_csv(r'read_file\\1.csv','r',encoding='utf-8')
f

   1,2,3
0  4,5,6

#### 2.写

In [146]:
import csv

# 每次写入一行
with open(r'read_file\\1.csv', 'a') as csvfile:
    writer = csv.writer(csvfile)   #  writer = csv.writer(csvfile, delimiter=' ')  分割方式
    writer.writerow(['id', 'name', 'age']) # 传入list
    writer.writerow(['10001', 'Mike', 20])
    writer.writerow(['10002', 'Bob', 22])
    writer.writerow(['10003', 'Jordan', 21])
    
# 一次写入多行,同上
    writer.writerows([['id', 'name', 'age'],['10001', 'Mike', 20], ['10002', 'Bob', 22], ['10003', 'Jordan', 21]])

In [149]:
# 写入的是字典
import csv

with open(r'read_file\\1.csv', 'a') as csvfile:
    fieldnames = ['id1', 'name', 'age']
    writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
    writer.writeheader()
    writer.writerow({'id1': '10001', 'name': 'Mike', 'age': 20})
    writer.writerow({'id1': '10002', 'name': 'Bob', 'age': 22})
    writer.writerow({'id1': '10003', 'name': 'Jordan', 'age': 21})

pandas写入

In [178]:
# to_csv()是DataFrame类的方法，read_csv()是pandas的方法
s = {'id1': '10001', 'name': 'Mike', 'age': 20}
s = pd.DataFrame(s,index=range(1))
s.to_csv(r'read_file\\1.csv')

     id1  name  age
0  10001  Mike   20

In [192]:
s1 = [['id1', 'name', 'age'],['10001', 'Mike', 20]]
s1 = pd.DataFrame(s1)
s1

       0     1    2
0    id1  name  age
1  10001  Mike   20

### 三、读取excel文件--直接pandas读写

#### 1.读

In [166]:
data = pd.read_excel(r'read_file\\1.xls',encoding='utf-8')
data

   1
0  A

##### 2.写

In [181]:
df = {'id1': ['10001'], 'name': ['Mike'], 'age': [20]}
df = pd.DataFrame(df)

# 或
# df = {'id1': '10001', 'name': 'Mike', 'age': 20}
# df = pd.DataFrame(df，index=range(0))
df.to_excel(r'read_file\\1.xls')

     id1  name  age
0  10001  Mike   20